{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Template</title>
    <link rel="stylesheet" href="{% static 'styles/cfehome-ui.css' %}">
    <link rel="stylesheet" href="{% static 'styles/test.css' %}">
</head>
<body>
<div class="reobject-photo-container mx-auto w-2/3 py-4 px-16">
    {% csrf_token %}
    <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            onclick="updateValues()"
    >
        Нажми меня!
    </button>
    {% for image in images %}
    <div class="flex flex-row bg-white p-4 m-4 rounded-2xl draggable" draggable="true">
        <div class="flex flex-col index-box">
            <p class="text-gray-600 text-2xl">new: <span class="font-semibold index-new">n</span></p>
        </div>
        <img src="/media/{{ image }}" alt="Product Image" class="rounded-2xl size-24 mb-4">
        <p class="text-gray-600 text-sm">Filename: <span class="font-semibold">image</span></p>
    </div>
    {% endfor %}
</div>
<script src="{% static 'test.js' %}"></script>
</body>
</html>